<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
  <style>
    /* Estilos para centrar el contenido */
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh; /* Cambiado a min-height para evitar el problema */
      margin: 0;
      font-family: 'Pixelify Sans', sans-serif;
    }

    form {
      text-align: left;
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 30px; /* Espacio entre el formulario y el botón */
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;
    }

    input[type="radio"] {
      margin: 0px;
    }

    /* Agrega espacio entre la última respuesta y la siguiente pregunta */
    div > div:last-child {
      margin-bottom: 20px;
    }

    button[type="submit"] {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: block; /* Para que el margen superior funcione correctamente */
    }

    button[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <form [formGroup]="pokeform" (ngSubmit)="finalizar()">
      <!-- Preguntas y respuestas -->
      <!-- Pregunta 1 -->
      <div>
        <label>¿Tienes capacidad de concentración?</label>
        <div>
          <input type="radio" formControlName="pregunta1" value="1">No<br>
          <input type="radio" formControlName="pregunta1" value="2">No lo sé<br>
          <input type="radio" formControlName="pregunta1" value="3">Raramente<br>
          <input type="radio" formControlName="pregunta1" value="4">Mayormente sí<br>
          <input type="radio" formControlName="pregunta1" value="5">Sí<br>
        </div>
      </div>

      <!-- Pregunta 2 -->
      <div>
        <label>Si un señor extraño te da elegir entre 2 regalos, uno grande y uno pequeño, ¿Cuál eliges?</label>
        <div>
          <input type="radio" formControlName="pregunta2" value="5">Por qué aceptaría?<br>
          <input type="radio" formControlName="pregunta2" value="4">Me lo cojo<br>
          <input type="radio" formControlName="pregunta2" value="2">El grande<br>
          <input type="radio" formControlName="pregunta2" value="3">El pequeño<br>
          <input type="radio" formControlName="pregunta2" value="1">Señor, deje de seguirme<br>
        </div>
      </div>

      <div>
        <label>
          Un amigo te da algo que se te habia olvidado. Como se lo agradeces?
        </label>
        <div>
          <input type="radio" formControlName="pregunta3" value=4>Con que tu lo habias escondido, mañoso<br>
          <input type="radio" formControlName="pregunta3" value=1>Muchas gracias<br>
          <input type="radio" formControlName="pregunta3" value=5>Maldecido ratero color crimen<br>
          <input type="radio" formControlName="pregunta3" value=3>Oh, vaya, gracias<br>
          <input type="radio" formControlName="pregunta3" value=2>Gracias<br>
        </div>
      </div>

      <div>
        <label>
          Vas por la calle y ves una cartera en el suelo
        </label>
        <div>
          <input type="radio" formControlName="pregunta4" value=4>Matanga<br>
          <input type="radio" formControlName="pregunta4" value=1>La dejo ahi<br>
          <input type="radio" formControlName="pregunta4" value=2>Buscar al dueño y entregarla<br>
          <input type="radio" formControlName="pregunta4" value=3>Entregarla a las autoridades<br>
          <input type="radio" formControlName="pregunta4" value=5>Buscar al dueño y entregarsela, pero, sin dinero<br>
        </div>
      </div>

      <div>
        <label>
          Nos invaden los extraterrestres, que hacemos?
        </label>
        <div>
          <input type="radio" formControlName="pregunta5" value=1>Pelear<br>
          <input type="radio" formControlName="pregunta5" value=3>Hacerme bolita<br>
          <input type="radio" formControlName="pregunta5" value=5>Masiosare...<br>
          <input type="radio" formControlName="pregunta5" value=4>Correr<br>
          <input type="radio" formControlName="pregunta5" value=2>Manos le haran falta...<br>
        </div>
      </div>

      <div>
        <label>
          Las quesadillas llevan queso?
        </label>
        <div>
          <input type="radio" formControlName="pregunta6" value=5>Por supuesto<br>
          <input type="radio" formControlName="pregunta6" value=2>Soy chilango<br>
          <input type="radio" formControlName="pregunta6" value=4>Depende<br>
          <input type="radio" formControlName="pregunta6" value=1>Claro<br>
          <input type="radio" formControlName="pregunta6" value=3>No<br>
        </div>
      </div>

      <div>
        <label>
          Que bebida tomas al almorzar
        </label>
        <div>
          <input type="radio" formControlName="pregunta7" value=1>Refresco de sabor<br>
          <input type="radio" formControlName="pregunta7" value=3>Agua de sobre<br>
          <input type="radio" formControlName="pregunta7" value=5>Agua en polvo<br>
          <input type="radio" formControlName="pregunta7" value=4>Coca<br>
          <input type="radio" formControlName="pregunta7" value=2>Agua natural<br>
        </div>
      </div>

      <div>
        <label>
          Somebody...
        </label>
        <div>
          <input type="radio" formControlName="pregunta8" value=4>to loveeeeeee<br>
          <input type="radio" formControlName="pregunta8" value=1>Alguien<br>
          <input type="radio" formControlName="pregunta8" value=5>That i use to know<br>
          <input type="radio" formControlName="pregunta8" value=3>In broklynn<br>
          <input type="radio" formControlName="pregunta8" value=2>Algun cuerpo<br>
        </div>
      </div>

      <div>
        <label>
          ¿Cual es el club mas grande de México?
        </label>
        <div>
          <input type="radio" formControlName="pregunta9" value=1>El ab<br>
          <input type="radio" formControlName="pregunta9" value=2>La makina<br>
          <input type="radio" formControlName="pregunta9" value=3>Las GOATS<br>
          <input type="radio" formControlName="pregunta9" value=4>Los Pumas<br>
          <input type="radio" formControlName="pregunta9" value=5>Tiburones Rojos de Veracruz<br>
        </div>
      </div>

      <div>
        <label>
          ¿Que desayunas por las mañanas?
        </label>
        <div>
          <input type="radio" formControlName="pregunta10" value=4>Chocomilk<br>
          <input type="radio" formControlName="pregunta10" value=3>Coca Cola de 600ml<br>
          <input type="radio" formControlName="pregunta10" value=5>Huveo con jugo<br>
          <input type="radio" formControlName="pregunta10" value=2>Desayuno?<br>
          <input type="radio" formControlName="pregunta10" value=1>Pan tieso de ayer<br>
        </div>
      </div>

      <div>
        <label>
          Si te ofrecen drogas. te van a decir...
        </label>
        <div>
          <input type="radio" formControlName="pregunta11" value=3>Que se siente bien padre<br>
          <input type="radio" formControlName="pregunta11" value=2>Que te vas a reir<br>
          <input type="radio" formControlName="pregunta11" value=1>No es ciertooooo<br>
          <input type="radio" formControlName="pregunta11" value=4>Que ayuda con la ansiedad<br>
          <input type="radio" formControlName="pregunta11" value=5>Saca la mota<br>
        </div>
      </div>

      <div>
        <label>
          ¿Que tuvo mas impacto?
        </label>
        <div>
          <input type="radio" formControlName="pregunta12" value=2>El renacimiento<br>
          <input type="radio" formControlName="pregunta12" value=1>La toalla del mojado<br>
          <input type="radio" formControlName="pregunta12" value=3>El señor que toca boleros en el parque<br>
          <input type="radio" formControlName="pregunta12" value=4>Eso tilin<br>
          <input type="radio" formControlName="pregunta12" value=5>El anime es una mierda<br>
        </div>
      </div>

      <div>
        <label>
          Eres una persona alegre
        </label>
        <div>
          <input type="radio" formControlName="pregunta13" value=1>No<br>
          <input type="radio" formControlName="pregunta13" value=5>Si<br>
          <input type="radio" formControlName="pregunta13" value=4>Trato de mejorar<br>
          <input type="radio" formControlName="pregunta13" value=2>Me quiero matar<br>
          <input type="radio" formControlName="pregunta13" value=3>Cada dia el apocalipsis parece una esperanza en lugar de un castigo<br>
        </div>
      </div>

      <div>
        <label>
          Si un amigo te dispara en la pierna, que harias?
        </label>
        <div>
          <input type="radio" formControlName="pregunta14" value=4>Denunciar<br>
          <input type="radio" formControlName="pregunta14" value=5>Tenia un amigo<br>
          <input type="radio" formControlName="pregunta14" value=1>Son cosas que pasan, todos cometemos errores<br>
          <input type="radio" formControlName="pregunta14" value=2>Thorfin, tu no tienes enemigoos<br>
          <input type="radio" formControlName="pregunta14" value=3>Le disparo en la nuca<br>
        </div>
      </div>

      <div>
        <label>
          ¿Te consideras inteligente?
        </label>
        <div>
          <input type="radio" formControlName="pregunta15" value=1>Si<br>
          <input type="radio" formControlName="pregunta15" value=4>No, soy humilde<br>
          <input type="radio" formControlName="pregunta15" value=3>Si, pero probablemente exista alguien mejor que yo<br>
          <input type="radio" formControlName="pregunta15" value=5>Llamenme Noe, por que acarreo puro animal<br>
          <input type="radio" formControlName="pregunta15" value=2>No lo creo<br>
        </div>
      </div>

      <div>
        <label>
          ¿Juegas con tu imaginacion?
        </label>
        <div>
          <input type="radio" formControlName="pregunta16" value=4>Tengo autismo<br>
          <input type="radio" formControlName="pregunta16" value=1>Si<br>
          <input type="radio" formControlName="pregunta16" value=2>No<br>
          <input type="radio" formControlName="pregunta16" value=3>Que tengo? 5 años?<br>
          <input type="radio" formControlName="pregunta16" value=5>Tengo autismo, otra vez<br>
        </div>
      </div>

      <div>
        <label>
          Alguien te tiende la mano desde dentro del retrete, ¿que haces?
        </label>
        <div>
          <input type="radio" formControlName="pregunta17" value=5>Ovrigado voce un amigo<br>
          <input type="radio" formControlName="pregunta17" value=4>Estrecharle la mano<br>
          <input type="radio" formControlName="pregunta17" value=1>Gritar<br>
          <input type="radio" formControlName="pregunta17" value=3>Esta pelicula ya la vi<br>
          <input type="radio" formControlName="pregunta17" value=2>Darle un chanclazo<br>
        </div>
      </div>

      <div>
        <label>
          Te encierran en una habitacion oscura y sucia, que harias?
        </label>
        <div>
          <input type="radio" formControlName="pregunta18" value=4>Hacerme bolita<br>
          <input type="radio" formControlName="pregunta18" value=3>Llorar<br>
          <input type="radio" formControlName="pregunta18" value=1>Que nadie limpia en esta casa?<br>
          <input type="radio" formControlName="pregunta18" value=5>Morir por alergia agravada<br>
          <input type="radio" formControlName="pregunta18" value=2>Patear la puerta<br>
        </div>
      </div>

      <div>
        <label>
          ¿Sabes pedir perdón cuando te equivocas?
        </label>
        <div>
          <input type="radio" formControlName="pregunta19" value=1>No<br>
          <input type="radio" formControlName="pregunta19" value=3>Me gustaria poder<br>
          <input type="radio" formControlName="pregunta19" value=2>Que pidan perdón los demas<br>
          <input type="radio" formControlName="pregunta19" value=4>Si<br>
          <input type="radio" formControlName="pregunta19" value=5>Lo intento<br>
        </div>
      </div>

      <div>
        <label>
          Como lidias con el sentimiento constante de que tu vida no tiene un proposito y solo es una perdida de tiempo,
          si es que existe un dios, solo fue una broma de mal gusto el darte la vida
        </label>
        <div>
          <input type="radio" formControlName="pregunta20" value=4>Me das miedo<br>
          <input type="radio" formControlName="pregunta20" value=1>No lo pensaba, ahora si<br>
          <input type="radio" formControlName="pregunta20" value=5>Ve al psicologo por favor<br>
          <input type="radio" formControlName="pregunta20" value=3>En serio, busca ayuda<br>
          <input type="radio" formControlName="pregunta20" value=2>Me doy autoplacer<br>
        </div>
      </div>

      <div>
        <label>
          Estas frente al presidente, ¿que le dices?
        </label>
        <div>
          <input type="radio" formControlName="pregunta21" value=5>Hola, adios (Referencia)<br>
          <input type="radio" formControlName="pregunta21" value=1>Arriba los corridos tumbados<br>
          <input type="radio" formControlName="pregunta21" value=4>El 11 de septiembre habra un atentado terrorista<br>
          <input type="radio" formControlName="pregunta21" value=2>¿Tiene cocas?<br>
          <input type="radio" formControlName="pregunta21" value=3>¿Si nos va a dar beca o nel?<br>
        </div>
      </div>

      <div>
        <label>
        ¿Duermes bien?
        </label>
        <div>
          <input type="radio" formControlName="pregunta22" value=4>Si<br>
          <input type="radio" formControlName="pregunta22" value=1>No, tengo insomnio<br>
          <input type="radio" formControlName="pregunta22" value=5>Me duermo a todas horas<br>
          <input type="radio" formControlName="pregunta22" value=3>Dormir?<br>
          <input type="radio" formControlName="pregunta22" value=2>Sí, en una cama mejor que la tuya...<br>
        </div>
      </div>

      <div>
        <label>
          ¿Te sientes sol@ cuando no hay nadie contigo?
        </label>
        <div>
          <input type="radio" formControlName="pregunta23" value=1>Siento que me observan<br>
          <input type="radio" formControlName="pregunta23" value=5>No, soy autista<br>
          <input type="radio" formControlName="pregunta23" value=3>Si, me disgusta<br>
          <input type="radio" formControlName="pregunta23" value=4>Quiza<br>
          <input type="radio" formControlName="pregunta23" value=2>Si<br>
        </div>
      </div>

      <div>
        <label>
          ¿Por que deberiamos darte un pokemon?
        </label>
        <div>
          <input type="radio" formControlName="pregunta24" value=4>Por que no soy yucateco<br>
          <input type="radio" formControlName="pregunta24" value=1>Por que hice el test<br>
          <input type="radio" formControlName="pregunta24" value=2>Por que el PRI robo mas<br>
          <input type="radio" formControlName="pregunta24" value=7>Por que esto con Fabian no pasaba<br>
          <input type="radio" formControlName="pregunta24" value=5>H. Lozano 22<br>
        </div>
      </div>

      <div>
        <label>
          ¿Estas listo para saber que pokemon eres?
        </label>
        <div>
          <input type="radio" formControlName="pregunta25" value=1>Si<br>
          <input type="radio" formControlName="pregunta25" value=2>SIIUUU<br>
          <input type="radio" formControlName="pregunta25" value=3>Yes<br>
          <input type="radio" formControlName="pregunta25" value=4>Of course<br>
          <input type="radio" formControlName="pregunta25" value=5>¿No era para saber mi MBTI?<br>
        </div>
      </div>

      <button type="submit">Finalizar</button>
    </form>

